
html, body {
	background: #3366CC;
	margin: 0;
	padding: 0;
	border: 0;
}

/*CSS needed for scrolling*/
.page-content {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #3366CC;
}

/*CSS styling*/
.text {
	text-align:left;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.title {
/*	padding-top: 10px;
*/	font-size:30px;
	/*float:left;*/
	/*position: absolute;*/
/*	padding-left: 10px;
*/}

.title-blue {
	color: #0A3C78;
}

.title-white {
	color: white;
}

.page {
	/*width: 5 0%;*/
	/*float: left;*/
	/*height: 100px;*/
	/*height: 100%;*/
	height: 100%;
	background-color: #3366CC;
}

#logo {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#thoughts, #quotes, #racial, #algorithms {
	left: 0%;
	width: 100%;
	height: 100%;
}

.background-color {
	background-color: white;
}

.inner {
	width: 100%;
	height: 100%;
}

.outer {
	width: 100%;
	height: 100%;
	background-color: white;
	color: white;
}

#OKC-screenshot {
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
}

#button-intro {
	position: absolute;
	top: 16%;
	left: 38.5%;
	width: 20%;
	height: 10%;
}

#button-end {
	position: absolute;
	top: 95.5%;
	left: 73%;
	width: 20%;
	height: 10%;
}

#button-intro-image {
	width: 90%;
	height: 12%;
	background: #D30C7B;
	background-image: url("/static/images/startexp_button.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#button-end-image {
	width: 100%;
	height: 25%;
	background: #D30C7B;
	background-image: url("/static/images/howmanyfish_startexp_button.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.chart1_style {
	position: absolute;
	left: 8%;
	top: 67%;
	width: 44%;
	height: 8%;
}

.chart2_style {
	position: absolute;
	top: 67%;
	left: 52%;
	width: 44%;
	height: 8%;
}













