<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How Many Fish?</title>
</head>
<body>

    <a href="/ajax_test">Ajax Test</a><br>
    <a href="/mult_sliders">Multiple Sliders</a><br>
    <a href="/polar">Polar coordinates test</a><br>
    <a href="/polar_sample_10000">Polar coordinates with 10,000 items</a><br>
    <a href="polar_sample_1000">Polar coordinates with 1,000 items</a><br>
    <a href="slider">Slider testing</a><br>
    <a href="/sunburst">Sunburst</a><br>
</body>
</html>