
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>How Many Fish?</title>
    
    <!-- Create a link to the main.css stylesheet -->
    <link rel="stylesheet" href="static/_css/main.css" type="text/css" />
    <link rel="stylesheet" href="static/circle.css" type="text/css" />
    <link rel="stylesheet" href="static/_css/jquery-ui-slider-pips.css" type="text/css" />
    <!-- Create a link to font css files-->
    <link rel="stylesheet" href="/static/Otari_font/Otari.css" type="text/css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" type="text/css" />
    <!-- Create a link to the bootstrap -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" /> 
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.7.0/d3-legend.min.js"></script>
    <script src="static/jquery-ui-slider-pips.min.js"></script>
    <style>
      #scatter_plot{
        min-height: 1045px;
      }
      .container{
        float: left;
      }
      .ui-slider-tip{
        height: 60px;
        width: 60px;
        font-size: 10px;
        line-height: 15px;

      }
    </style>
</head>

<body>
  <div class="container-fluid" id="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12" id="topTitle">
        <h1 id="topHeader"><img src="/static/images/logo_banner.svg" height="75" style="align:left"></h1>
      </div>
    </div>
    <!-- Large containers row -->
    <div class="row">
      <div class="col-md-7" id="scatter_container">
        <div class="row">
          <div class="col-md-12" id="scatter_title">
          <h4 id="scatterHeader"><p class="Otari-HeavyItalic">Your Pool</h4>
          <h4 id="scatterHeader"><p class="Open-Sans">Showing <i>men</i> and <i>women</i> in <i>the Bay Area</i>, by OKC Match Percentage.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="scatter_plot">
          </div>
        </div>
      </div>
      <div class="col-md-5" id="sliders_bars_container">
        <!--Slider container row -->
        <div class="row">
          <div class="col-md-12" id="sliders_title">
            <h4 id="slidersHeader"><p class="Otari-HeavyItalic">Select Importance of Questions</h4>
            <h4 id="scatterHeader"><a href="/index_QA" class="Open-Sans">Click here to view questions and answers from OkCupid</a></h4>
          </div>
<!--           <div> 
            <a href="/index_QA.html" class="btn btn-default btn-block" roll="button">View Question Answers</a>
          </div> -->
          <!-- <div class="col-md-12" id="sliders_title"> -->
            <!-- <h4 id="slidersHeader"><p class="Open-Sans">These are questions you’ve answered in OKC. They are used to determine your match percentage with potential dates.</h4> -->
          <!-- </div> -->
        <!--First Label row -->
          <div class="row">
              <div class="col-md-5" id="slider1_title">
                <h5><p class="Open-Sans">I want someone who thinks <i>immaturity</i> is the worst personality trait someone can have.</h5>
              </div>
                    <div class="col-md-1"></div>
              <div class="col-md-5" id="slider2_title">
                <h5><p class="Open-Sans">I want someone who <i>sometimes</i> gets inspired to do something creative for no reason in particular.</h5>
              </div>
            </div>
          <div class="col-md-12" id="sliders_container">
            <div class="row">
              <div class="col-md-5" id="slider1">
                <!-- SLIDER1 -->
              </div>
                  <div class="col-md-1"></div>
              <div class="col-md-5" id="slider2">
                <!-- SLIDER2 -->
              </div>
            </div>
            <!--Second Label row -->
          <div class="row">
              <div class="col-md-5" id="slider3_title">
                <h5><p class="Open-Sans">I want something with a <i>sarcastic</i> sense of humor.</h5>
              </div>
                  <div class="col-md-1"></div>
              <div class="col-md-5" id="slider4_title">
                <h5><p class="Open-Sans">I want someone who <i>is</i> close to their family.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" id="slider3">
                <!-- SLIDER3 -->
              </div>
                  <div class="col-md-1"></div>
              <div class="col-md-5" id="slider4">
                <!-- SLIDER4 -->
              </div>
            </div>
            <!--Third Label row -->
            <div class="row">
              <div class="col-md-5" id="slider5_title">
                <h5><p class="Open-Sans">I want someone with <i>higher than average</i> self confidence.</h5>
              </div>
                  <div class="col-md-1"></div>
              <div class="col-md-5" id="slider6_title">
                <h5><p class="Open-Sans">I want someone who <i>is</i> happy with their life?</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" id="slider5">
                <!-- SLIDER5 -->
              </div>
                  <div class="col-md-1"></div>
              <div class="col-md-5" id="slider6">
                <!-- SLIDER6 -->
              </div>
            </div>
            <!--Third Label row -->
            <div class="row">
              <div class="col-md-5" id="slider7_title">
                <h5><p class="Open-Sans">I want someone with <i>centrist</i> political beliefs.</h5>
              </div>
                <div class="col-md-1"></div>
              <div class="col-md-5" id="slider8_title">
                <h5><p class="Open-Sans">I want someone who is <i>open without going too crazy</i> to trying new things in bed.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" id="slider7">
                <!-- SLIDER7 -->
              </div>
                    <div class="col-md-1"></div>
              <div class="col-md-5" id="slider8">
                <!-- SLIDER8 -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" id="slider9_title">
                <h5><p class="Open-Sans">I want someone who goes out of their way <i>way more than average</i> to make other people feel appreciated.</h5>
              </div>
                    <div class="col-md-1"></div>
              <div class="col-md-5" id="slider10_title">
                <h5><p class="Open-Sans">I want someone who would rather be <i>weird</i> than normal weird.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" id="slider9">
                <!-- SLIDER9 -->
              </div>
                    <div class="col-md-1"></div>
              <div class="col-md-5" id="slider10">
                <!-- SLIDER10 -->
              </div>
            </div>
            
          </div>
        </div>
        <!--Bars container row -->
        <div class="row">
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-12" id="bars_title">
            <h4 id="barsHeader"><p class="Otari-HeavyItalic"><br>Profile Variable Statistics of Your Pool</h4>
            <h4 id="scatterHeader"><p class="Open-Sans">Click a bar to show the distribution of that dimension in Your Pool</h4><br>
          </div>
        </div>
        <div class="row">
          <div id="bars_container">

              <div id="age_chart" class="col-md-15"></div>
              <div id="education_chart" class="col-md-15"></div>
              <div id="ethnicity_chart" class="col-md-15"></div>
              <div id="height_chart" class="col-md-15"></div>
              <div id="bodytype_chart" class="col-md-15"></div>

          </div>
        </div>

          <!--
            <div class="row">
              <div class="col-md-3" id="bar1">
                BAR1
              </div>
              <div class="col-md-3" id="bar2">
                BAR2
              </div>
              <div class="col-md-3" id="bar3">
                BAR3
              </div>
              <div class="col-md-3" id="bar4">
                BAR4
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" id="bar1_title">
                <h5>BAR1 NAME</h5>
              </div>
              <div class="col-md-3" id="bar2_title">
                <h5>BAR2 NAME</h5>
              </div>
              <div class="col-md-3" id="bar3_title">
                <h5>BAR3 NAME</h5>
              </div>
              <div class="col-md-3" id="bar4_title">
                <h5>BAR4 NAME</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" id="bar5">
                BAR5
              </div>
              <div class="col-md-3" id="bar6">
                BAR6
              </div>
              <div class="col-md-3" id="bar7">
                BAR7
              </div>
              <div class="col-md-3" id="bar8">
                BAR8
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" id="bar5_title">
                <h5>BAR5 NAME</h5>
              </div>
              <div class="col-md-3" id="bar6_title">
                <h5>BAR6 NAME</h5>
              </div>
              <div class="col-md-3" id="bar7_title">
                <h5>BAR7 NAME</h5>
              </div>
              <div class="col-md-3" id="bar8_title">
                <h5>BAR8 NAME</h5>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <script src="static/script.js"></script>
  
 <!-- <script src="static/sliders.js"></script>  -->
</body>

</html>