<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>How Many Fish?</title>
    
    <!-- Create a link to the main.css stylesheet -->
    <link rel="stylesheet" href="_css/main.css" type="text/css" />
    <!-- Create a link to bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" /> 

</head>

<body>
<!-- Part 1: Title -->
  <div class="slide dark" id="slide1">
    <h1>How Many Fish?</h1>

  <br>

<!-- Image and caption -->
  <div class="slide image" id="imageslide1">
    <p>
      <img class="floatright" src="weird_OKCquestion_screenshot.png" height="50%" width="50%"><br><br><br><br>Does this look familiar? To the 1M unique individuals who login to OkCupid each day, it will.<br><br> But how are these questions used by OKC to generate matches? How does each question change the pool of matches available to an individual?
    </p>
  </div>

  <br>
  <br>
  <br>

<!-- Part 2: Online Dating Prejudices -->
  <div class="slide light" id="slide2">
    <h2>OKCupid User Interviews</h2>
    <p>We asked users to describe how OKC matches them:<br><br> “I have no idea how they do it.” <br><br> “I thought...it was through the questions you answer? Based on how important they are to you. Through some algorithm. I don’t understand how it works, but it doesn’t seem very accurate to me. When you’re answering the questions, they don’t really matter to you that much but you’re forced into saying they matter at least a little bit.”<br><br>“I’m not sure how it matched me with people, I filled out a lot of those questions and I guess those were supposed to have matched me algorithmically or something like that but I don’t know if I ever saw the connections between the questions and the people it tried to match me with.”<br><br>“I used to try to tailor my answers to attract certain types of people, but the more I used it the more random it felt. Even with the algorithm and match percentage, you still really don’t know what you’re going to get.”</p>
  </div>

  <br>


<!-- Part 3: Algorithmic Transparency -->
  <div class="slide light" id="slide3">
    <h2>Biases in Online Dating</h2>
    <p>Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency. Here's some info on algorithmic transparency.</p>
  </div>

  <br>

<!-- Part 4: Interview snippets -->
  <div class="slide light" id="slide4">
    <h2>Algorithm Transparency</h2>
    <p>Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. Here's some of our interviews and results. </p>
  </div>

  <br>

<!-- Part 5: Our tool -->
  <div class="slide light" id="slide5">
    <p>Here's a quick description of our tool click <a href="explore.html">here</a> to continue and try it for yourself!
  </div>
</div>

</body>

</html>