<!- http://stackoverflow.com/questions/33695073/javascript-polar-scatter-plot-using-d3-js -->
<!DOCTYPE html>
<meta charset="utf-8">
<style>
  .frame {
    fill: none;
    stroke: #000;
  }
  
  .axis text {
    font: 10px sans-serif;
  }
  
  .axis line,
  .axis circle {
    fill: none;
    stroke: steelblue;
    stroke-dasharray: 4;
  }
  
  .axis:last-of-type circle {
    stroke: steelblue;
    stroke-dasharray: none;
  }
  
  .line {
    fill: none;
    stroke: orange;
    stroke-width: 3px;
  }
</style>

<body>
  <button onclick="update()">Click me</button>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script>
    var width = 1000,
      height = 1000,
      radius = Math.min(width, height) / 2 - 30;

    var r = d3.scale.linear()
      .domain([0, 100])
      .range([radius, radius*.07]);

    var line = d3.svg.line.radial()
      .radius(function(d) {
        return r(d[1]);
      })
      .angle(function(d) {
        return -d[0] + Math.PI / 2;
      });

    var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var gr = svg.append("g")
      .attr("class", "r axis")
      .selectAll("g")
      .data(r.ticks(3))
      .enter().append("g");

    gr.append("circle")
      .attr("r", r);


/*
    var ga = svg.append("g")
      .attr("class", "a axis")
      .selectAll("g")
      .data(d3.range(0, 360, 30))
      .enter().append("g")
      .attr("transform", function(d) {
        return "rotate(" + -d + ")";
      });

    ga.append("line")
      .attr("x2", radius);
*/
    var color = d3.scale.category20();

    var line = d3.svg.line.radial()
      .radius(function(d) {
        return r(d[1]);
      })
      .angle(function(d) {
        return -d[0] + Math.PI / 2;
      });
      
    function getData(){
      var data3 = [];
      for (var i = 0; i < 1000; i++){
        data3.push(Math.random() * 100);
      }
      return data3;
    };

    function update(){
      var data = getData();
      var svg = d3.selectAll(".point").data(data);

       svg.transition()
        .duration(750)
        .attr("transform", function(d, i) {
          var coors = line([[i, d]]).slice(1).slice(0, -1);
          return "translate(" + coors + ")"
        })
        .attr("r", 2);  
    };

    svg.selectAll("point")
      .data(getData())
      .enter()
      .append("circle")
      .attr("class", "point")
      .attr("transform", function(d, i) {
        var coors = line([[i, d]]).slice(1).slice(0, -1);
        return "translate(" + coors + ")"
      })
      .attr("r", 1)
      .attr("fill",function(d,i){
        return color(i);
      
      });


   
console.log("here");
  </script>